body{
  font-family: sans-serif;
  width: 500px;
  margin: auto;
  background-color: Plum;
}
.leftcol{
    border: 1px solid black; 
    color-scheme: hsl(300, 96%, 80%);
    padding: 10px; 

}
.rightcol{
    border:1px solid black;
    
}