body{
  font-family: sans-serif;
  width: 500px;
  margin: auto;
  background-color: Plum;
}
.leftcol{
  border: none; 
  padding: 0px; 
  text-align: left;
  table-layout: fixed;
  width: 800px;
}
.rightcol{
  border: none;
  padding: 0px; 
  text-align: left;
  table-layout: fixed;
  width: 800px;
}
table{
  list-style-type: none;
  margin: 0;
  padding: 0; 
  width: 500px; 
  background-color: none;
  border: 2px solid #000;
  height: 100%;
  position: top;
  overflow: auto; 
  word-spacing: 100px;
}
#w{
  display: block; 
  color: #000; 
  padding: 8px 160px; 
  width: 500px; 
  text-decoration: none; 
  flex-direction: column;
  text-align: left; 
  float: left;
}
