body{
  font-family: sans-serif;
  width: 500px;
  margin: auto;
  background-color: Plum;
}
.leftcol{
    border: 1px solid black; 
    color-scheme: hsl(300, 96%, 80%);
    padding: 10px; 

}
.rightcol{
    border:1px solid black;
    
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0; 
  width: 200px;
  background-color: grey;
  border: 1px solid #555;
  height: 100%;
  position: fixed;
  overflow: auto;

  
  animation-fill-mode: forwards;
}
li a{
  display: block; 
  color: #000; 
  padding: 100px 160px; 
  width: 600px; 
  text-decoration: none; 
}
li a:hover{
  background-color: #555; 
  color: white;
} 

li{
  text-align: center;
  border-bottom: 1px solid #555; 
  float: left; 
}
li:last-child{
  border-bottom: none;
}